* {
	padding: 0px;
	margin: 0px;
	border: none;
}

html{
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1.3;
    font-size: 34px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration:none;
}

ul{
    list-style-type: none;
}

button{
    background-color: transparent;
    padding: 0;
    border:0;
    cursor: pointer;
}

.container{
    max-width: 1840px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    min-width: 100vh;
    background-repeat: no-repeat;
}

.header__top{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__btn{
    height: 23px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__btn span{
    background-color: #ff5017;
    width: 100%;
    height: 3px;
}


.header__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: calc(100vh - 135px);
}

.title{
    font-size: 345px;
    background: linear-gradient(180deg, #000 0%, #830b02 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color:transparent;
    padding-left: 150px;
    line-height: 0.8;
}

.subtitle{
    font-size: 160px;
    background: linear-gradient(90deg, #ff5017 0%, #000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    align-self: flex-end;
    padding-right: 75px;
    padding-bottom: 50px;
}

.header__images{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    margin:auto;
}

.info{
    background-color: #f8f8f8;
    padding: 170px 0;
}

.info__title{
    text-align: center;
    line-height: 0.8;
    font-size: 160px;
    text-transform: uppercase;
}

.info__img{
    margin: 0 auto;
    max-width: 100%;
}

.info__content{
    display: flex;
}

.info__list{
    column-count: 2;
}

.info__list dt,
.info__list dd{
    display: inline-block;
}