* {
	padding: 0px;
	margin: 0px;
	border: none;
}

html{
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1.3;
    font-size: 34px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration:none;
}

ul{
    list-style-type: none;
}

button{
    background-color: transparent;
    padding: 0;
    border:0;
    cursor: pointer;
}

.container{
    max-width: 1840px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    min-width: 100vh;
    background-repeat: no-repeat;
}

.header__top{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__btn{
    height: 23px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__btn span{
    background-color: #ff5017;
    width: 100%;
    height: 3px;
}


.header__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: calc(100vh - 135px);
}

.title{
    font-size: 345px;
    background: linear-gradient(180deg, #000 0%, #830b02 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color:transparent;
    padding-left: 150px;
    line-height: 0.8;
}

.subtitle{
    font-size: 160px;
    background: linear-gradient(90deg, #ff5017 0%, #000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    align-self: flex-end;
    padding-right: 75px;
    padding-bottom: 50px;
}

.header__images{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    bottom: 0;
    margin:auto;
    width: 100%;
}

.info{
    background-color: #f8f8f8;
    padding: 170px 0;
}

.info__title{
    text-align: center;
    line-height: 0.8;
    font-size: 160px;
    text-transform: uppercase;
}

.info__img{
    margin: 0 auto;
    max-width: 100%;
}

.info__content{
    display: flex;
    margin-bottom: 170px;
    padding-left: 155px;
    padding-right: 100px;
    gap: 94px;
}

.info__list{
    column-count: 2;
    gap: 140px;
}

.info__list dt,
.info__list dd{
    display: inline-block;
}

.info__list-line{
    padding-bottom: 22px;
}

.price{
    font-size: 46px;
    margin-bottom: 40px;
}

.order{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal; 
    font-size: 24px;
    padding: 30px 60px;
    background: linear-gradient(181.77deg, #ff5017 2.24%, #ff6837 99.25%); 
}

.info__gallary{
display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    flex-wrap: wrap;
}

.info__gallary img{
    max-width: 100%;
}


.color{
    background-color: #f8f8f8;
}

.color__text{
    text-transform: uppercase;
    text-align: center;
    font-size: 160px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.color__gallary{
    background-color: #13171c;
}

.color__gallary-start,
.color__gallary-end{
    width: 100%;
    margin: 0 auto;
}

.gallary-box{
    padding: 170px 50px;
    gap: 20;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.gallary-box img{
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.gallary-box__text{
    color: #fff;
    font-size: 36px;
}

.contacts{
    padding: 170px 0 100px;
    background-color: #13171c; 
}

.contacts__title{
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: 36px;
    color: #ff5017;
}

.contacts__box{
    display: flex;
    gap: 40px 200px;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 150px;
}

.contacts__headtext{
    color: #bcbcbc;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 24px;
}

.contacts__info{
    max-width: 565px;
}

.contacts__text,
.contacts__text-rules,
.phone{
    color: #fff;
}

.contacts__text{
    padding-top: 10px;
    margin-bottom: 20px;
    max-width: 477px;
    font-size: 24px;
}

.contacts__text-rules{
    padding-top: 77px;
    font-size: 14px;
    max-width: 330px;
}

.form{
    flex-basis: 594px;
}


.form__input{
    background-color: transparent;
    font-family: "Inter", sans-serif;
    display: block;
    font-weight: 900;
    width: 100%;
    margin-bottom: 20px;
    max-width: 594px;
    font-size: 24px;
    padding: 10px;
    line-height: 1.3px;
    text-transform: uppercase;
    color: #fff;
    border:none;
    border-bottom: 1px solid #fff;
}

.form__input::placeholder{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 1.3px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
}


.form__order{
    width: 100%;
}

.price__order{
    color: #fff;
    font-size: 46px;
    margin-bottom: 40px;
}


.footer{
    background-color: #13171c;
    text-align: center;
    font-size: 14px;
    padding: 15px 0 90px;
    color: #fff;
}









@media (max-width:1820px){
    .title{
    font-size: 280px;
    padding-left: 0px;
    }

    .subtitle{
        font-size: 140px;
        padding-right: 0;
    }
    .info__gallary{
        gap: 24px 20px;
    }

    .info__gallary img{
        width: 48%;
    }
    .info__car{
        width: 100%;
    }
    .header{
        background-color: #ff6e3e;
        background-image: none;
    }

    
    .gallary-box{
        padding: 20px 0;
        flex-wrap: wrap;
    }

    .gallary-box__item{
        width: 48%;
    }
    .gallary-box img{
        width: 100%;
        border-radius: 35px;
    }
    .contacts__box{
        min-width: 100vh;
    }
    .footer{
        min-width: 100vh;
    }

}


@media (max-width:1700px){
    .contacts__box{
        padding: 100px;
    }
}



@media (max-width:1820px){
    .info__content{
        display:block;
        margin-bottom: 50px;
    }
}

@media (max-width:1200px){
    .title{
    font-size: 280px;
    padding-left: 0px;
    }

    .subtitle{
        font-size: 140px;
        padding-right: 0;
    }

    .header__images{
        top: 0;
    }
    
    .info{
        padding: 100px 0;
    }

    .info__title{
        font-size: 86px;
    }

    .info__content{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 100px;
        gap: 20px;
    }
    .color__text{
        font-size: 80px; 
    }

    .gallary-box{
        padding: 20px 0;
        flex-wrap: wrap;
    }

    .gallary-box__item{
        width: 48%;
    }
    .gallary-box img{
        width: 100%;
        border-radius: 35px;
    }

  

    .contacts__info{
        font-size: 15px;
    }
    .form__order button{
        width: 50%;
    }
    
    .color{
        min-width: 100vh;
    }

    .contacts{
        min-width: 100vh;
    }
}



@media (max-width: 1020px){

    .info__gallary img{
        width: 100%;
    }

    .info__list{
        gap: 20px;
    }

    .info__content{
        display:block;
        margin-bottom: 50px;
    }

    .color__text{
        font-size: 50px; 
    }

    .gallary-box__text{
        font-size: 35px; 
    }

    .container{
        padding: 0;
    }

}




@media (max-width:800px){
    .title{
        font-size: 180px;
    }
    .subtitle{
        font-size: 90px;
    }
    .header__top{
        padding-top: 25px;
    }

    .menu__btn span{
        box-sizing: content-box;
        border: 1px solid #000 ;
    }
    .container{
        min-width: 100vh;
    }
    .contacts__box{
        display: block;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .contacts__text-rules{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .contacts__headtext{
        font-size: 15px;
    }

    .contacts__text{
        font-size: 15px;
    }

    .form__input{
        font-size: 15px;
    }

    .form__input::placeholder{
        font-size: 15px;
    }
    .price__order{
        font-size: 30px;
    }

    .footer{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}




@media (max-width:520px){
    .title{
        font-size: 122px;
    }
    .subtitle{
        font-size: 70px;
    }

    .contacts__title{
        font-size: 20px;
    }

    .contacts{
        padding: 50px 0;
    }
}