* {
	padding: 0px;
	margin: 0px;
	border: none;
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration:none;
}

ul{
    list-style-type: none;
}

button{
    background-color: transparent;
    padding: 0;
    border:0;
    cursor: pointer;
}

.container{
    max-width: 1840px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    min-width: 100vh;
    background-repeat: no-repeat;
}

.header__top{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__btn{
    height: 23px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__btn span{
    background-color: #ff5017;
    width: 100%;
    height: 3px;
}


.header__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 345px;
    line-height: 418px;

    background: linear-gradient(180deg, #000 0%, #830b02 100%);
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
}